:root {
	--primary-background-color: #ccc;
	--primary-text-color: #000;
	--accent-color: #80f;
	--secondary-background-color: #80f;
	--secondary-text-color: #fff;
}

* {
	box-sizing: border-box;
}

a {
	color: inherit;
	text-decoration: underline;
}

a:hover {
	color: var(--accent-color);
}

body {
	font-family: sans-serif;
	margin: 0;
}

body section {
	padding: 0 10px;
}

body section section {
	padding: 0;
}

section h1 {
	text-align: center;
}

section p {
	text-align: center;
}

#header {
	display: grid;
	position: sticky;
	top: -80px;
	align-items: center;
	justify-items: center;
	background-color: var(--primary-background-color);
}

@media (min-width: 535px) {
	#header {
		top: 0;
		grid-template-columns: 1fr 1fr;
	}
}

#header-img {
	height: 80px;
	transition: all 0.5s linear;
}

#header-img:hover {
	transform: rotateZ(360deg);
	transition: all 0.5s linear;
}

#nav-bar {
	display: flex;
	justify-content: center;
	width: 100%;
}

#nav-bar ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 4px 0;
	padding: 0;
	width: 100%;
}

#nav-bar ul > li {
	display: contents;
}

.nav-link {
	border-radius: 4px;
	margin: 4px;
	padding: 6px;

	text-align: center;
	transition: all 0.1s linear;
}

.nav-link:hover {
	transform: scale(1.2);
	transition: all 0.1s linear;
}

.anchor {
	position: relative;
	height: 0;
	width: 0;
	margin: 0;
	padding: 0;
	top: -51px;
}

figure {
	margin: 0;
	width: 100%;
	text-align: center;
}

#video {
	width: 100%;
	max-width: 560px;
	height: 52vw;
	max-height: 315px;
}

#form {
	background-color: var(--primary-background-color);
	border-radius: 8px;
	margin: 8px;
	padding: 8px;
	text-align: center;
}

input {
	border: none;
	border-radius: 8px;
	padding: 6px;
}

button {
	background-color: var(--secondary-background-color);
	border: none;
	border-radius: 8px;
	color: var(--secondary-text-color);
	margin: 0 8px;
	padding: 6px;
	transition: all 0.1s linear;
}

button:hover {
	cursor: pointer;
	transform: scale(1.2);
	transition: all 0.1s linear;
}

.dummy-for-test {
	display: none;
}

#zeb-footer {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-wrap: wrap;
	gap: 4px;
	padding: 0 10px;
}

#zeb-footer p {
	margin: 4px 0;
}